#logined-card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    height: max-content;
    max-width: 40rem;

    background: none;
    backdrop-filter: blur(10px);

}