#id2 {
    background-color: rgba(255,255 , 255, 0.4);
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    height: fit-content;
    max-width: 50rem;
}

#id2 * {
    background-color: rgba(255,255 , 255, 0)
}