* {
    font-family: 'Courier New', fac;
}

@font-face {
    font-family: fac;
    src: url("./fonts/HanYiXiDengXianJian.ttf") format("truetype");
}

body {
    background-image: url("./darkForest.png");
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
    background-attachment: fixed;
}