* {
    font-family: 'Courier New', fac, fac-bold, monospace;
}

@font-face {
    font-family: fac;
    src: url("./fonts/HanYiXiDengXianJian.ttf") format("truetype");
}

@font-face {
    font-family: fac-bold;
    src: url("./fonts/HanYiZhongDengXianJian.ttf") format("truetype");
    font-weight: bold;
}

body {
    background-image: url("./darkForest.png");
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
    background-attachment: fixed;
}