* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#preview-content .container {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-style: solid;
    backdrop-filter: blur(6px);
}