.card {
    opacity: 0.7;
    overflow: scroll;
}

.spinner-border {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

#navbar {
    display: flex;
    width: auto;
    list-style: none;
    position: absolute;
    right: 20px;
    top: 40px;
    max-width: 50%;
    overflow: scroll;
}

#navbar div {
    margin-left: 30px;
    color: rgba(0,0,0,0.7);
}