#top-nav {
    z-index: 10;
}

#top-nav-brand {
    font-family: "Nimbus Sans";
    font-weight: 500;
    font-size: calc(var(--font--size1)*0.75);

    color: var(--bs-heading-color);
}

#navbarSupportedContent .nav-item {
    font-family: "Nimbus Sans Light";
    font-size: 14px;

    color: var(--bs-body-color);
}

:root {
    --font--size1: clamp(1.728rem, 1.728rem + ((1vw - 0.2rem) * 0.814), 2.074rem);
    --font--size2: clamp(0.833rem, 0.833rem + ((1vw - 0.2rem) * 1), 0.833rem);
}

@font-face {
    font-family: "Nimbus Sans";
    src: url("../../NimbusSans.otf");
}

@font-face {
    font-family: "Nimbus Sans Light";
    src: url("../../NimbusSansLight.otf");
}