/* row1 */

#home-photo-box img {
    width: 100%;
}

#home-header-box h1 {

    padding-left: 12px;
    padding-right: 12px;

    font-size: max(48px, 5.5vw);
    font-family: "Nimbus-Sans", sans-serif;
    font-weight: 700;

    line-height: 0.9;
}

/* row2 */

#home-row2 {
    margin-bottom: 5rem;
}

#central-text {
    padding-left: 12px;
    padding-right: 12px;

    text-align: justify;
    font-family: "Nimbus-Sans-Light", sans-serif;
}

/* row3 */

#bottom-nav-brand {
    font-family: "Nimbus-Sans", sans-serif;
    font-weight: 500;
    font-size: var(--font--size1);
}

#bottom-nav-toggler {
    padding: 4px;
    
    border-radius: 0;
    border-color: inherit;

}

#navbarSupportedContent {
    font-family: "Nimbus-Sans-Light", sans-serif;
    font-size: var(--font--size2);
}

#navbarSupportedContent li {
    display: inline;
    width: max-content;
}

#navbarSupportedContent a {
    padding: 0;
    color: inherit;
    display: inline;
}

:root {
    --font--size1: clamp(1.728rem,1.728rem + ((1vw - 0.2rem) * 0.814),2.074rem);
    --font--size2: clamp(0.833rem,0.833rem + ((1vw - 0.2rem) * 1),0.833rem);
}

@font-face {
    font-family: "Nimbus-Sans";
    src: url("./NimbusSans.otf");
}

@font-face{
    font-family: "Nimbus-Sans-Light";
    src: url("./NimbusSansLight.otf");
}